.caps {
	text-transform: uppercase;
}

.leadForm *, ::after, ::before {
    box-sizing: border-box;
}

.leadForm {
	width: 400px;
	padding: 10px;
	position: absolute;
    right: -30px;
    top: 115px;
    z-index: 1;
    text-align: center;
}

.leadForm h2 {
	color: white;
	font-family: Conv_Vitesse-Bold;
}

.leadForm p {
	text-align: left;
}

.leadForm input, .leadForm select {
	/*background: rgba(255,255,255,.5);*/
}

.form-row {
	/*padding: 10px 0 15px 0;*/
}

.formImage {
	width:70%;
}

.submit-button {
	background: none;
	border: 0;
}

.submit-button:hover, .submit-button:focus {
	background: none;
}

.invalid-feedback {
	color: white;
	text-align: left;
}

.g-recaptcha {
	margin-left: 50px;
}

.leadForm .form-row {
	margin-top: -15px;
}

@media(max-width: 500px) {

	.leadForm {
	    width: 96%;
    	position: unset;
	    text-align: center;
	    margin-top: 189px;
	}

	.versionB .leadForm {
	    width: 96%;
    	position: unset;
	    text-align: center;
	    margin-top: 0;
	}

	.formImage {
		display: none;
	}
}