.caps {
	text-transform: uppercase;
}

.leadForm *, ::after, ::before {
    box-sizing: border-box;
}

.leadForm {
	width: 400px;
	padding: 10px;
	position: absolute;
    right: -30px;
    top: 115px;
    z-index: 1;
    text-align: center;
}

.leadForm h2 {
	color: white;
	font-family: Conv_Vitesse-Bold;
	font-size: 34px;
}

.leadForm p {
	text-align: left;
	color: white;
}

.versionC .leadForm {
	z-index: 21;
	top: 0;
	padding: 0;
}

.versionC .leadForm h1,
.versionC .leadForm h2,
.versionC .leadForm span {
	color: white;
}

.versionC .leadForm span {
	color: rgb(245,166,10);
	font-family: helvetica;
	font-weight: bold;
}

.versionC .leadForm .sub-heading-phone {
	position:relative;
	margin-bottom: 1em;
	padding: 0.5em;
}

.versionC .leadForm p {
	text-align: center;
	font-family: helvetica;
}

.versionC .leadForm .sub-heading-phone-twt:after {
	content:'';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -30px;
	width: 0;
	height: 0;
	border-top: solid 20px rgb(236, 159, 35);
	border-left: solid 30px transparent;
	border-right: solid 30px transparent;
}
.versionC .leadForm .sub-heading-phone-jjw:after {
	content:'';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -30px;
	width: 0;
	height: 0;
	border-top: solid 20px #005844;
	border-left: solid 30px transparent;
	border-right: solid 30px transparent;
}

.versionC .leadForm .sub-heading-phone-sys:after {
	content:'';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -30px;
	width: 0;
	height: 0;
	border-top: solid 20px  rgb(215, 30, 38);
	border-left: solid 30px transparent;
	border-right: solid 30px transparent;
}

.formImage {
	width: 100%;
}

.submit-button {
	font-size: 20px;
    font-family: helvetica;
    font-weight: bold;
    text-transform: uppercase;
	border: 0;
	margin-top: 10px;
}

.submit-button:hover, .submit-button:focus, .submit-button:active, .submit-button:visited {
	background: none;
	outline: 0;
}

.versionC .invalid-feedback {
	color: black;
	text-align: left;
}

.invalid-feedback {
	color: white;
	text-align: left;
}

.g-recaptcha {
	margin-left: 50px;
}

.leadForm .form-row {
	margin-top: -15px;
}

@media(max-width: 850px) {

	.leadForm {
	    width: 98%;
    	position: unset;
	    text-align: center;
		margin-top: 189px;
	}

	.versionB .leadForm {
	    width: 96%;
    	position: unset;
	    text-align: center;
	    margin-top: 0;
	}

	.versionC .leadForm {
		width: 100%;
		position: unset;
		text-align: center;
		margin-top: 189px;
}

.versionC .submit-button {
	width: 100%;
}

.versionC-hidden {
	display: none;
}

	.formImage {
		display: none;
	}

	.g-recaptcha-div {
		display: flex;
	}
	
	.g-recaptcha {
		margin: auto;
	}
}

@media(max-width: 500px) {

	.leadForm {
	    width: 96%;
    	position: unset;
	    text-align: center;
		margin-top: 189px;
	}
}
